body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}
.card {
  background-color: #442f11;
  opacity: 70%;
  color: #fbfffe;
  margin: 0.5rem;
  width: 20rem;
}
.card-title {
  font-size: 1rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 5px #fff;
}
.card-text {
  background-color: #0d5aa0;
  border-radius: 5px;
  padding: 2rem;
  border: 1px solid #5f9fdd;
  margin: 0.5rem 0;
  text-align: justify;
}
.card-case {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}
